/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #333;
}

header, footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#gallery {
    text-align: center;
    padding: 20px;
}

.container {
    columns: 4;
    column-gap: 12.5px;
}

#gallery img {
    width: 100%;
    margin-bottom: 12.5px;
    border-radius: 12.5px;
    cursor: pointer;
    transition: transform 0.3s;
}

#gallery img:hover {
    transform: scale(1.05);
}

.cta-button {
    display: inline-block;
    padding: 18px 37.5px;
    background-color: #ea4c89;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #d0316f;
}

/* Lightbox Styles */
#lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

#lightbox img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 90%;
    border-radius: 10px;
}

#lightbox .close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}
.hidden{
    display: none;
}

#lightbox .close:hover,
#lightbox .close:focus {
    color: #bbb;
}

@media screen and (max-width: 600px) {
    .container {
        columns: 1;
    }

    .cta-button {
        padding: 12px 24px;
        font-size: 18px;
    }
}
